{% extends 'base.html' %}

{% block title %}
  Edit Post
{% endblock %}

{% block content %}

<form>
  <div>
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" value="{{post.title}}">
  </div>
  <div>
    <label for="content">Content</label>
    <textarea class="form-control" rows="10" name="content">{{post.content}}</textarea>
  </div>
  {% for tag in tags %}
  <div class="form-check">
    {% if tag in post.tags %}
      <input checked="true" class="form-check-input" name="tag" type="checkbox" value="{{tag.id}}">
    {% else %}
      <input class="form-check-input" name="tag" type="checkbox" value="{{tag.id}}">
    {% endif %}
      <label class="form-check-label" for="tag">
       {{tag.name}}
      </label>
  </div>
  {% endfor %}
  <input class="btn btn-warning" type="submit" value="Cancel" formaction="/posts/{{post.id}}" formmethod="GET">
  <input class="btn btn-success" type="submit" value="Save" formaction="/posts/{{post.id}}/edit" formmethod="POST">
</form>

{% endblock %}