{% extends 'base.html' %}

{% block title %}
Create a user
{% endblock %}

{% block content %}
<form action="/users/new" method="post">
  <div>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
  </div>
  <div>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">
  </div>
  <div>
    <label for="img_url">Image URL</label>
    <input type="text" name="img_url">
  </div>
  <input class="btn btn-success" type="submit" value="Submit">
</form>
{% endblock %}