{% extends 'base.html' %}

{% block title %}
Add Post for {{user.get_full_name()}}
{% endblock %}

{% block content %}
<form>
  <div>
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title">
  </div>
  <div>
    <label for="content">Content</label>
    <textarea class="form-control" rows="10" name="content"></textarea>
  </div>
  <input type="submit" value="Cancel" formaction='/users/{{user.id}}' formmethod="GET">
  <input type="submit" value="Add" formaction="" formmethod="POST">
</form>
{% endblock %}