{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<img src="{{user.img_url}}" alt="">
<h1>{{user.get_full_name()}}</h1>
<form>
  <input class="btn btn-primary" type="submit" formaction="/users/{{user.id}}/edit" formmethod="GET" value="Edit">
  <input class="btn btn-danger" type="submit" formaction="/users/{{user.id}}/delete" formmethod="POST" value="Delete">
</form>
<br>
<div>
  <h2>Posts</h2>
  <ul>
    {% for post in posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
</div>

<a class="btn btn-secondary" href="/users/{{user.id}}/posts/new">Add Post</a>

{% endblock %}